html {
  min-height: 100%;
  margin: 0;
}
body {
  font-size: 18px;
  background: rgb(41, 55, 74);
  background: linear-gradient(
    180deg,
    rgba(37, 56, 73, 0.968) 34%,
    rgba(56, 85, 110, 0.916) 61%,
    rgba(234, 237, 237, 1) 100%
  );
  margin: 0;
}

#header-nav {
  min-height: 50px;
}

#header-img {
  float: left;
  z-index: 1;
  height: 80px;
  width: 80px;
  padding: 10px;
}

a {
  width: 10%;
  margin: auto;
  display: block;
  padding-top: -10px;
  align-items: center;
  display: flex;
  justify-content: center;
}

.navbar-header {
  width: 100%;
  text-align: center;
}

.navbar-brand h1 {
  font-family: "Lato", sans-serif;
  font-size: 1.6em;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  margin-top: 20px;
  margin-bottom: 20px;
}

.center {
  margin: 0;
  width: 100%;
}
.navbar-brand a:hover,
.navbar-brand a:focus {
  text-decoration: none;
}

.navbar-light .navbar-toggler:focus,
.navbar-light .navbar-toggler:hover {
  background-color: white;
}

/**main content**/

#main-text {
  width: 70%;
  padding: 5%;
  border-radius: 10px;
  background-color: #cedae6;
  box-shadow: 5px 5px 50px black;
  font-family: "Source Code Pro", monospace;
  font-size: 1em;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 25px;
}

h3 {
  font-size: 1.9em;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

form {
  font: 18px/1.4 "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100%;
  margin: auto;
}

#buttons {
  margin: auto;
  margin-bottom: 10px;
}
